/*цвет основного контента #757575*/
/*цвет заголовка #212121*/
/*цвет акцента #2196F3*/
/*белый цвет #FFFFFF*/
/*цвет футера #2F303A*/
/*цвет копирайта rgba(255, 255, 255, 0.4)*/

/*General*/

/*html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}*/

:root {
  --primary-text-color: #757575;
  --primary-title-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --button-text-color: #ffffff;
  --footer-bg-color: #2f303a;
  --copyright-color: rgba(255, 255, 255, 0.4);
}
body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  /*padding-top: 94px;
  padding-bottom: 94px;*/
  background-color: rgb(247, 240, 243);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  font-family: inherit;
}

/*Header*/
.header-menu {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 86px; /*не работает*/
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus,
.socials.link:hover,
.socials.link:focus,
.clients.link:hover,
.clients.link:focus {
  color: var(--accent-color);
}

/*Contacts*/
.contacts {
  display: flex;
  margin-left: auto;
}

.contacts .item + .item {
  margin-left: 50px;
}

.contacts .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

/*Logo*/

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-header {
  color: var(--primary-title-color);
}

.logo-footer {
  color: var(--primary-white-color);
}

/*Hero*/
.hero-title {
  margin-top: 0;
  margin-bottom: 46px;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /*background-color: #757575; /*чтобы белый текст был виден*/
}

.hero {
  background-color: cornflowerblue;
  text-align: center;
}

.button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;

  /*font-family: inherit;*/
  color: var(--button-text-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
}

/*Sections*/

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--primary-title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*Our advantages*/
.advantages .item {
  width: calc((100% - 30px) / 12) * 3;
}

.advantages .item:not(:last-child) {
  margin-right: 30px;
}

/*Our services*/
.services {
  display: flex;
}

.services .item {
  width: calc((100% - 30px) / 12 * 4);
}

.services .item:not(:last-child) {
  margin-right: 30px;
}

.team {
  display: flex;
}
.worker-name {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--primary-title-color);
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
}

.worker-job /*подумать над названием класа*/ {
  margin-top: 0;
  /*margin-bottom: сделаю когда будут иконки;*/

  font-size: 16px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
}

.advantages-title {
  margin-bottom: 10px;
  color: var(--primary-title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages {
  display: flex;
}

.text {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.work-title {
  margin-bottom: 0;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8); /*чтобы белый текст был виден*/
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.worker-card {
  text-align: center;
}

/*Photos*/
.photo {
  margin-bottom: 30px;
}

/*Footer*/
.footer {
  background-color: var(--footer-bg-color);
}

.footer-contacts {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.label {
  color: var(--button-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.address {
  font-style: normal;
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.copyright {
  color: var(--copyright-color);
  font-weight: normal;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;
}

/*Portfolio*/
.portfolio .link {
  color: var(--primary-title-color);
}

.portfolio .filter {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}

.portfolio .filter:hover,
.portfolio .filter:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.portfolio-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-type {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

/*Current page*/

.site-nav .current.link {
  color: var(--accent-color);
}
