/*цвет основного контента #757575*/
/*цвет заголовка #212121*/
/*цвет акцента #2196F3*/
/*белый цвет #FFFFFF*/
/*цвет футера #2F303A*/
/*цвет копирайта rgba(255, 255, 255, 0.4)*/

/*General*/

:root {
  --primary-text-color: #757575;
  --primary-title-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --button-text-color: #ffffff;
  --footer-bg-color: #2f303a;
  --copyright-color: rgba(255, 255, 255, 0.4);
}
body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-family: inherit;
}

/*Header*/

.site-nav .link {
  color: var(--primary-title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus,
.socials.link:hover,
.socials.link:focus,
.clients.link:hover,
.clients.link:focus {
  color: var(--accent-color);
}

.contacts .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

/*Logo*/

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-header {
  color: var(--primary-title-color);
}

.logo-footer {
  color: #ffffff;
}

/*Hero*/
.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  background-color: #757575; /*чтобы белый текст был виден*/
}
.button {
  font-family: inherit; /*почему не работает?*/
  color: var(--button-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

/*Sections*/
.section-title {
  color: var(--primary-title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.worker-name {
  color: var(--primary-title-color);
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
}

.worker-job /*подумать над названием класа*/ {
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
}

.advantages-title {
  color: var(--primary-title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.work-title {
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8); /*чтобы белый текст был виден*/
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/*Footer*/
.footer {
  background-color: var(--footer-bg-color);
}

.footer-contacts {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.label {
  color: var(--button-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.address {
  font-style: normal;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.copyright {
  color: var(--copyright-color);
  font-weight: normal;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;
}

/*Portfolio*/
.portfolio .link {
  color: var(--primary-title-color);
}

.portfolio .filter {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}

.portfolio .filter:hover,
.portfolio .filter:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.portfolio-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-type {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

/*Current page*/

.site-nav .current.link {
  color: var(--accent-color);
}
